<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<!-- bootstrap -->
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
  </script>
<title>Formulario de equipos</title>
<script src="/jQuery/equipos.js"></script>
</head>
<body background="https://wallpaperaccess.com/full/2244833.jpg" height="10%" width="10%">
	<div class="container mt-4">
	<h2 id="regTitle"></h2>
		<div class="col-sm-6">
			<form th:action="@{/equipo/seve}" th:object=${equipo} method="post">
				<div class="card">
					<div class="card-header">
						<h3>Equipo</h3>
						<h4 class="text-danger" th:text="${excepcion}" id="idExc" ></h4>
					</div>
					<div class="card-body">
						<div class="form-group mb-3 row">
							<label class="col-sm-3 col-form-label" for="idId">ID</label>
							<div class="col-sm-9">
							 <input  th:field="*{idEquipo}" readonly="readonly" type="text" class="form-control"
									id="idId">
							 </div>

						</div>
						<div class="form-group mb-3 row">
							<label class="col-sm-3 col-form-label" for="idNombre">nombre</label> 
							<div class="col-sm-9">
							<input placeholder="Escribe el nombre de tu equipo" th:field="*{nombre}" type="text" class="form-control"
									id="idNombre">
									<div id="idDivNom">
									</div>
							</div>
						</div>

						<div class="form-group mb-3 row">

							<label class="col-sm-3 col-form-label" for="idDivision">division</label> 
							<div class="col-sm-9">
							<input placeholder="Escribe la division de tu equipo" th:field="*{division}" type="text" class="form-control"
									id="idDivision">
									<div id="idDivDiv">
									</div>
							</div>
						</div>

					</div>
						<div class="card-footer">
												<input id="btp" type="submit" value="Guardar" class="btn btn-success">
						</div>


				</div>
			</form>
		</div>
	</div>
	<a href="#" id="backLink" class="btn btn-success" >Atras</a>
</body>
</html>