<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>formulario de posicion</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<!-- bootstrap -->
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
  </script>
<script src="/jQuery/posicionese.js"></script>
</head>
<body>
	<div class="container mt-4">
	
		<div class="col-sm-6">
			<form name="formPosicion" th:action="@{/posicion/seve}" th:object=${posicion}
				method="post">
				<div class="card">
					<div class="card-header">
						<h3>Posicion</h3>
						<h4 id="idExc"class="text-danger" role="alert" th:text=${excepcion}></h4>
					</div>
					<div class="card-body">
						
						<div class=" mb-3 row form-group">
							<label  class="col-sm-3 col-form-label" for="idId">ID</label> 
							<div class="col-sm-9">
							<input class="form-control" th:field="*{idPosicion}"  readonly="readonly" type="text">
							</div>
						
						</div>
						
						
						<div class=" mb-3 row form-group">
							<label  class="col-sm-3 col-form-label" for="idNombre">nombre</label> 
							<div  class="col-sm-9">
							<input class="form-control" id="idNombre" th:field="*{nombre}" type="text">
								<div id="idDivNom">
								</div>
							</div>
						
						</div>
						
						
						<div class=" mb-3 row form-group">
							
							<label  class="col-sm-3 col-form-label" for="idActivo">activo</label> 
							<div class="col-sm-9">
							
							<select id="idActivo"  th:field="*{atrasadoAdelantado}"
									class="form-select form-select-lg  form-control mb-3">
									<option selected value="false">No</option>
									<option  value="true">Si</option>
								</select>
							</div>
						</div>
					</div>
					<div class="card-footer">
													
									 <button id="btp" class="btn btn-success">Guardar</button>
					</div>
					
				</div>

			</form>
		</div>

	</div>
	
</body>
</html>