
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ><h1>Futbol</h1>
	<a href="http://localhost:8080/posicion/">lista de posiciones</a>
	<br/>
	<a href="http://localhost:8080/equipo/">lista de jugadores</a>
	<br/>
	<a href="http://localhost:8080/equipo/">lista de equipos</a>
	<br/>
	<a href="http://localhost:8080/posicion/">agregar posicion</a>
	<br/>
	<a href="http://localhost:8080/posicion/">agregar jugador</a>
	<br/>
	<a href="http://localhost:8080/posicion/">agregar equipo</a>
</div>
	</body>
</html>