<!DOCTYPE html>
<html th="http//:www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Lista de posiciones</title>
<link rel="stylesheet" type="text/css" href="../css/list.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">



</head>
<body id="idFondo"background="https://fondosmil.com/fondo/17010.jpg" >
	<table  id="idtabla"class="table table-striped bg-white">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>id</th>
				<th>Activo</th>
				<th>ACCION</th>
			</tr>
		</thead>
		<tbody th:each="posicion : ${posiciones}">
			<tr>
				<th th:text="${posicion.nombre}"> </th>
				<th th:text="${posicion.idPosicion}"> </th>
				<th th:text="${posicion.atrasadoAdelantado}"> </th>
				<th><a th:href="@{/posicion/editar/}+${posicion.idPosicion}" class="btn btn-warning">editar</a>
				  <a  th:href="@{/posicion/eliminar/}+${posicion.idPosicion}" class="btn btn-danger" id="idEliminar">Eliminar</a>
					<a th:href="@{/jugador/verJugadores/}+${posicion.idPosicion}+'/'+${-1}" class="btn btn-primary">ver jugadores en esta posicion</a>
				</th>
			</tr>
			
		</tbody>
	
	</table>
	<div>
	<br/>
	<a class="btn btn-success btn btn-success  btn-lg btn-block" th:href="@{/}"> Atras</a>
	
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

</body>
</html>